<!DOCTYPE html>
html(lang="zh-CN")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="author", content="ryanxchen")
        title Ryanx'blog
        include ./includes/head
    body
        .main
            include ./includes/header
            block content