a:hover,
a:focus {
  text-decoration: none;
}
a {
  color: #444;
}

.logo {
  display: block;
  margin-bottom: 10px;
  width: 40px;
}
.logo img {
  border-radius: 5px;
}
.subtitle {
  color: #777;
}
.main {
  max-width: 720px;
  padding: 0 30px;
  overflow: hidden;
  margin: 0 auto;
}
.read-detail {
  float: right;
}
.article {
  margin-bottom: 75px;
}